@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Bookings</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault()!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault()!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault()!.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault()!.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_MyBookingsPartial" model="@Model.GymClasses"></partial>
    </tbody>
</table>
